[submodule "subprojects/libmspack"]
	path = subprojects/libmspack
	url = https://github.com/kyz/libmspack.git
[submodule "subprojects/winetricks"]
	path = subprojects/winetricks
	url = https://github.com/Winetricks/winetricks.git
[submodule "subprojects/umu-database"]
        path = subprojects/umu-database
        url = https://github.com/Open-Wine-Components/umu-database
[submodule "subprojects/unzip"]
	path = subprojects/unzip
	url = https://salsa.debian.org/sanvila/unzip.git
[submodule "subprojects/python-xlib"]
	path = subprojects/python-xlib
	url = https://salsa.debian.org/python-team/packages/python-xlib.git
