name: make

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container: registry.gitlab.steamos.cloud/steamrt/sniper/sdk:beta
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install python-xlib build dependencies
        run: |
          sudo apt -y install debhelper-compat dh-sequence-python3 dos2unix python3-all python3-setuptools python3-setuptools-scm
      - name: Build umu-protonfixes
        run: |
          ./build.sh
