name: ci

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          # The Steam Runtime platform (sniper) uses Python 3.9
          python-version: "3.9"
      - name: Install dependencies
        run: |
          sudo apt-get install shellcheck
          python3 -m pip install --upgrade pip
          pip install ruff
          pip install ijson
          pip install trio
          pip install "git+https://github.com/njbooher/steam.git@wsproto#egg=steam[client]"
      - name: Lint with Shellcheck
        run: |
          shellcheck winetricks
      - name: Lint with Ruff
        run: |
          ruff check .
      - name: Validate gamefix modules
        run: |
          python3 .github/scripts/check_gamefixes.py
          python3 .github/scripts/check_verbs.py
      - name: Check import statements
        run: |
          cd ..
          ln -s umu-protonfixes protonfixes
          cd protonfixes
          python3 .github/scripts/check_imports.py
      - name: Test with unittest
        run: |
          python3 protonfixes_test.py
